
* {
  margin: 0;
 padding: 0; 
  box-sizing: border-box;
}

form {
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 30px;
  row-gap: 30px;
  padding: 10px;
}

.firstname {
  grid-column: 1 / 2;
}

.lastname {
  grid-column: 2 / 3;
}

.email {
  grid-column: 1 / 2;
}

.message {
  grid-column: 1 / span 2 ;
}

.pet {
  grid-column: 1 / 2;
}

.food {
  grid-column: 1 / 2;
}


.send {
  grid-column: 1 / 2;
}

fieldset {
  border: 0;
}

input[type="text"],
input[type="email"],
textarea
 {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #000;
  transition: border-color 1s ease 300ms;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover
 {
  border-color: #888;

}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus
 {
  outline: none;
  border: 2px solid blue;
}